<%= render @lesson %>

<div>
  <%= links_to_test_and_reverse(@lesson) %>
  <%= link_to "Remettre à zéro", reset_lesson_path(@lesson), class:'btn btn-primary btn-lg mb-2 mb-md-0 fs-4'  %>
  <%= link_to "Toutes les leçons", lessons_path, class:'btn btn-primary btn-lg mb-2 mb-md-0 fs-4' %>
</div>

<h2 class="display-5 mt-5 border-bottom">Ton score<h2>
	<% unless @lesson.tests.empty? %>
	<p class="display-1 "><%= full_score_percentage(@lesson, current_user) %>% (<%= full_score_absolute(@lesson, current_user) %>)</p>
	
	
	<div class="row">
		<div class="col-md-auto row align-items-center flex-row bg-success bg-gradient rounded-pill mx-1 mb-2 ps-0">
			<div style="width:80px;"><%= image_tag "profanity/#{current_user.profanity}.png", class:"img-fluid rounded-circle"%></div>
			<p class="col mt-4 bd-lead"><%= profanity_feedback(full_score_percentage(@lesson, current_user),current_user) %></p>
		</div>
	</div>
	
	<% else %>
	<p>Tu n'as pas encore passé de test.</p>
	<% end %>

<h2 class="display-5 mt-5 border-bottom">Historique des tests</h2>
	
<% @history.each do |test| %>
	<div class="row pt-2 border-bottom">
		<div class="col-6 col-md-3 fs-3"><%= format_date test.created_at %></div>
		<div class="col"><span class="badge badge-pill <%= test.reverse? ? "bg-warning text-dark" : "bg-primary" %>"><%= test.reverse? ? "<-" : "->" %></span></div>
		<div class="col fs-2"><%= test.percentage_score %>%</div>
		<div class="col strong"><%= test.score %> / <%= test.maximum_score %></div>
		<div class="col-md-4 col-12">
			<div class="progress my-2">
			  <div class="progress-bar bg-<%= set_color(test.percentage_score)%>" role="progressbar" style="width: <%= test.percentage_score %>%" aria-valuenow="<%= test.percentage_score%>" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			
			
		</div>
	</div>	
<% end %>

<h2 class="display-5 mt-5 border-bottom">Détail par mot</h2>
	
<% @words.each do |word| %>
	<div class="row flex-row">
		<div class="col-6 col-md-4 order-3 order-md-1 text-end fs-2"><%= word[:original] %></div>
		<div class="col-6 col-md-2 order-1 order-md-2 mt-md-2 text-end"><%= word[:percentage_score] %>%</div>
		<div class="col-6 col-md-2 order-2 order-md-3 mt-md-2"><%= word[:absolute_score] %></div>
		<div class="col-6 col-md-4 order-4 order-md-4 fs-2"><%= word[:translated] %></div>
	</div>
	<div class="row flex-row border-bottom">
		<div class="col-6 col-md-4 text-warning text-decoration-line-through text-end"><%= word[:original_errors] %></div>
		<div class="d-none d-md-block col-md-4"></div>
		<div class="col-6 col-md-4 text-warning text-decoration-line-through"><%= word[:translated_errors] %></div>
	</div>
<% end %>
