<%= form_with model: test, url: result_lesson_path(test.lesson) , method: :post, autocomplete: :off do |form| %>
	
	<%= form.hidden_field :user, value: current_user %>
	<%= form.hidden_field :reverse, value: test.reverse %>
	
	<%= form.fields_for :answers do |answer_subform| %>
	<div id="<%= dom_id answer_subform.object %>" class="row border-bottom pt-3">
		<p class="col">
			<span class="fs-2">
				<% unless test.reverse? %>
					<%= answer_subform.object.translation.original %> 
				<% else %>
					<%= answer_subform.object.translation.translated %>
				<% end %>
				: </span>
		</p>

		<p class="col">
			<%= answer_subform.text_field :content, autocomplete: :off, autocapitalize: :off %>
		</p>
		<%= answer_subform.hidden_field :translation_id %>
	</div>
	<% end %>
	<div class="row pt-3">
		<p class="col"></p>
		<p class="col">
			<%= form.submit "Résultats", class:'btn btn-primary btn-lg'%>
		</p>

	</div>
	
	
<% end %>
