<h1 class="display-1">Ton score : <%= @test.score %> sur <%= @test.answers.count %></h1>
<p class="lead fs-1"><%= @test.feedback(:fais_moi_mal) %></p>

<% @test.answers.each do |answer| %>
<div class="row">
	<p class="col fs-3">
		<%= @test.reverse? ? answer.translation.translated : answer.translation.original %>
	</p>

	<p class="col bg-<%= answer.correct? ? 'success' : 'warning' %> bg-gradient">
		<strong>Votre réponse:</strong>
		<%= answer.content %>
	</p>
</div>
<% end %>

<div>
	<%= links_to_test_and_reverse(@lesson) %>
	<%= link_to "Stats", stats_lesson_path(@lesson), class:'btn btn-primary btn-lg' %>
	<%= link_to "Modifier", @lesson, class:'btn btn-primary btn-lg' %> <%= link_to "Retour", lessons_path, class:'btn btn-primary btn-lg' %>
</div>
